{% extends 'flexer/base.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="section">

  <div class="container">
    <h1 class="title has-text-centered">
      Flexer Control Panel
    </h1>

    <div class="columns">
      <div class="column is-offset-2 is-8">
        <h2 class="subtitle is-size-3">
          Welcome {{ request.user.username }}
        </h2>
        <span>{{ request.user.id }}</span>
        <h3 class="subtitle">Block Configurator</h3>
        <div class="content">
<div class="field">
  <div class="control">
    <div class="select is-primary is-fullwidth">
      <select>
        <option>Select Time</option>
        <option>60 Minutes</option>
        <option>90 Minutes</option>
        <option>120 Minutes</option>
        <option>150 Minutes</option>
        <option>180 Minutes</option>
        <option>210 Minutes</option>
        <option>240 Minutes</option>
      </select>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <div class="select is-primary is-fullwidth">
      <select>
        <option>Select Station</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4<option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
  </div>
</div>
        <div class="buttons">
            <button class="button is-link is-fullwidth">Save & Reload</button>
        </div>

                    <div class="buttons">
            <button class="button is-danger is-fullwidth">Desactivated</button>
        </div>

        </div>
      </div>
    </div>

  </div>

</section>

{% endblock %}